header
{
	font-size: 7vh;
	text-align: center;

}

#login
{
	padding:25%;
	text-align: center;
	font-size: 2vw;
	font-size: 4vh;
}

#register
{
	padding:5%;
	border-style: inset;
	border-width: 10px;
	width: 50%;
}

.loginform
{

	float: right;
    color: black;	
}

input[type=submit].loginform
{
	float: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}